
<div>
    <h2><span data-translate="aspireloanApp.promotion.detail.title">Promotion</span> {{vm.promotion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireloanApp.promotion.promID">Prom ID</span></dt>
        <dd>
            <span>{{vm.promotion.promID}}</span>
        </dd>
        <dt><span data-translate="aspireloanApp.promotion.promotion">Promotion</span></dt>
        <dd>
            <span>{{vm.promotion.promotion}}</span>
        </dd>
        <dt><span data-translate="aspireloanApp.promotion.promotionDescription">Promotion Description</span></dt>
        <dd>
            <span>{{vm.promotion.promotionDescription}}</span>
        </dd>
        <dt><span data-translate="aspireloanApp.promotion.remark">Remark</span></dt>
        <dd>
            <span>{{vm.promotion.remark}}</span>
        </dd>
        <dt><span data-translate="aspireloanApp.promotion.status">Status</span></dt>
        <dd>
            <span>{{vm.promotion.status}}</span>
        </dd>
        <dt><span data-translate="aspireloanApp.promotion.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.promotion.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireloanApp.promotion.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.promotion.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireloanApp.promotion.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.promotion.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireloanApp.promotion.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.promotion.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="promotion-my-suffix-detail.edit({id:vm.promotion.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
