<div>
    <h2 data-translate="aspireloanApp.promotion.home.title">Promotions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="promotion-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireloanApp.promotion.home.createLabel">
                        Create new Promotion
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireloanApp.promotion.promID">Prom ID</span></th>
                    <th><span data-translate="aspireloanApp.promotion.promotion">Promotion</span></th>
                    <th><span data-translate="aspireloanApp.promotion.promotionDescription">Promotion Description</span></th>
                    <th><span data-translate="aspireloanApp.promotion.remark">Remark</span></th>
                    <th><span data-translate="aspireloanApp.promotion.status">Status</span></th>
                    <th><span data-translate="aspireloanApp.promotion.createdBy">Created By</span></th>
                    <th><span data-translate="aspireloanApp.promotion.createdDate">Created Date</span></th>
                    <th><span data-translate="aspireloanApp.promotion.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireloanApp.promotion.updatedDate">Updated Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="promotion in vm.promotions track by promotion.id">
                    <td><a ui-sref="promotion-my-suffix-detail({id:promotion.id})">{{promotion.id}}</a></td>
                    <td>{{promotion.promID}}</td>
                    <td>{{promotion.promotion}}</td>
                    <td>{{promotion.promotionDescription}}</td>
                    <td>{{promotion.remark}}</td>
                    <td>{{promotion.status}}</td>
                    <td>{{promotion.createdBy}}</td>
                        <td>{{promotion.createdDate | date:'mediumDate'}}</td>
                    <td>{{promotion.updatedBy}}</td>
                        <td>{{promotion.updatedDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="promotion-my-suffix-detail({id:promotion.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="promotion-my-suffix.edit({id:promotion.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="promotion-my-suffix.delete({id:promotion.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
