
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPromotionLabel" data-translate="aspireloanApp.promotion.home.createOrEditLabel">Create or edit a Promotion</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.promotion.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.promotion.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireloanApp.promotion.promID" for="field_promID">Prom ID</label>
            <input type="number" class="form-control" name="promID" id="field_promID"
                    ng-model="vm.promotion.promID"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireloanApp.promotion.promotion" for="field_promotion">Promotion</label>
            <input type="text" class="form-control" name="promotion" id="field_promotion"
                    ng-model="vm.promotion.promotion"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireloanApp.promotion.promotionDescription" for="field_promotionDescription">Promotion Description</label>
            <input type="text" class="form-control" name="promotionDescription" id="field_promotionDescription"
                    ng-model="vm.promotion.promotionDescription"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireloanApp.promotion.remark" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.promotion.remark"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireloanApp.promotion.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.promotion.status"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireloanApp.promotion.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.promotion.createdBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireloanApp.promotion.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.promotion.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireloanApp.promotion.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                    ng-model="vm.promotion.updatedBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireloanApp.promotion.updatedDate" for="field_updatedDate">Updated Date</label>
                <div class="input-group">
                    <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.promotion.updatedDate" is-open="vm.datePickerOpenStatus.updatedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
