<div>
    <h2 data-translate="aspireLoanMgtApp.accessControl.home.title">Access Controls</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="access-control-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.accessControl.home.createLabel">
                        Create new Access Control
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.accessControl.userType">User Type</span></th>
                    <th><span data-translate="aspireLoanMgtApp.accessControl.permissionType">Permission Type</span></th>
                    <th><span data-translate="aspireLoanMgtApp.accessControl.status">Status</span></th>
                    <th><span data-translate="aspireLoanMgtApp.accessControl.createdBy">Created By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.accessControl.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.accessControl.createDate">Create Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.accessControl.updateDate">Update Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="accessControl in vm.accessControls track by accessControl.id">
                    <td><a ui-sref="access-control-my-suffix-detail({id:accessControl.id})">{{accessControl.id}}</a></td>
                    <td>{{accessControl.userType}}</td>
                    <td>{{accessControl.permissionType}}</td>
                    <td>{{accessControl.status}}</td>
                    <td>{{accessControl.createdBy}}</td>
                    <td>{{accessControl.updatedBy}}</td>
                        <td>{{accessControl.createDate | date:'mediumDate'}}</td>
                        <td>{{accessControl.updateDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="access-control-my-suffix-detail({id:accessControl.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="access-control-my-suffix.edit({id:accessControl.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="access-control-my-suffix.delete({id:accessControl.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
