
<div>
    <h2><span data-translate="aspireLoanMgtApp.accessControl.detail.title">Access Control</span> {{vm.accessControl.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.accessControl.userType">User Type</span></dt>
        <dd>
            <span>{{vm.accessControl.userType}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.accessControl.permissionType">Permission Type</span></dt>
        <dd>
            <span>{{vm.accessControl.permissionType}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.accessControl.status">Status</span></dt>
        <dd>
            <span>{{vm.accessControl.status}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.accessControl.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.accessControl.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.accessControl.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.accessControl.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.accessControl.createDate">Create Date</span></dt>
        <dd>
            <span>{{vm.accessControl.createDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.accessControl.updateDate">Update Date</span></dt>
        <dd>
            <span>{{vm.accessControl.updateDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="access-control-my-suffix-detail.edit({id:vm.accessControl.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
