<div>
    <h2 data-translate="aspireLoanMgtApp.packages.home.title">Packages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="packages-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.packages.home.createLabel">
                        Create new Packages
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.packages.validityfromdate">Validityfromdate</span></th>
                    <th><span data-translate="aspireLoanMgtApp.packages.validitytodate">Validitytodate</span></th>
                    <th><span data-translate="aspireLoanMgtApp.packages.typeOfProduct">Type Of Product</span></th>
                    <th><span data-translate="aspireLoanMgtApp.packages.interestrate">Interestrate</span></th>
                    <th><span data-translate="aspireLoanMgtApp.packages.maxloanamount">Maxloanamount</span></th>
                    <th><span data-translate="aspireLoanMgtApp.packages.minloanamount">Minloanamount</span></th>
                    <th><span data-translate="aspireLoanMgtApp.packages.maxtenure">Maxtenure</span></th>
                    <th><span data-translate="aspireLoanMgtApp.packages.mintenure">Mintenure</span></th>
                    <th><span data-translate="aspireLoanMgtApp.packages.totalpayout">Totalpayout</span></th>
                    <th><span data-translate="aspireLoanMgtApp.packages.createdBy">Created By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.packages.createdDate">Created Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.packages.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.packages.updatedDate">Updated Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="packages in vm.packages track by packages.id">
                    <td><a ui-sref="packages-my-suffix-detail({id:packages.id})">{{packages.id}}</a></td>
                        <td>{{packages.validityfromdate | date:'mediumDate'}}</td>
                        <td>{{packages.validitytodate | date:'mediumDate'}}</td>
                    <td>{{packages.typeOfProduct}}</td>
                    <td>{{packages.interestrate}}</td>
                    <td>{{packages.maxloanamount}}</td>
                    <td>{{packages.minloanamount}}</td>
                    <td>{{packages.maxtenure}}</td>
                    <td>{{packages.mintenure}}</td>
                    <td>{{packages.totalpayout}}</td>
                    <td>{{packages.createdBy}}</td>
                        <td>{{packages.createdDate | date:'mediumDate'}}</td>
                    <td>{{packages.updatedBy}}</td>
                        <td>{{packages.updatedDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="packages-my-suffix-detail({id:packages.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="packages-my-suffix.edit({id:packages.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="packages-my-suffix.delete({id:packages.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
