
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPackagesLabel" data-translate="aspireLoanMgtApp.packages.home.createOrEditLabel">Create or edit a Packages</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.packages.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.packages.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.packages.validityfromdate" for="field_validityfromdate">Validityfromdate</label>
                <div class="input-group">
                    <input id="field_validityfromdate" type="text" class="form-control" name="validityfromdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.packages.validityfromdate" is-open="vm.datePickerOpenStatus.validityfromdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('validityfromdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.packages.validitytodate" for="field_validitytodate">Validitytodate</label>
                <div class="input-group">
                    <input id="field_validitytodate" type="text" class="form-control" name="validitytodate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.packages.validitytodate" is-open="vm.datePickerOpenStatus.validitytodate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('validitytodate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.packages.typeOfProduct" for="field_typeOfProduct">Type Of Product</label>
            <input type="text" class="form-control" name="typeOfProduct" id="field_typeOfProduct"
                    ng-model="vm.packages.typeOfProduct"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.packages.interestrate" for="field_interestrate">Interestrate</label>
            <input type="number" class="form-control" name="interestrate" id="field_interestrate"
                    ng-model="vm.packages.interestrate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.packages.maxloanamount" for="field_maxloanamount">Maxloanamount</label>
            <input type="number" class="form-control" name="maxloanamount" id="field_maxloanamount"
                    ng-model="vm.packages.maxloanamount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.packages.minloanamount" for="field_minloanamount">Minloanamount</label>
            <input type="number" class="form-control" name="minloanamount" id="field_minloanamount"
                    ng-model="vm.packages.minloanamount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.packages.maxtenure" for="field_maxtenure">Maxtenure</label>
            <input type="number" class="form-control" name="maxtenure" id="field_maxtenure"
                    ng-model="vm.packages.maxtenure"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.packages.mintenure" for="field_mintenure">Mintenure</label>
            <input type="number" class="form-control" name="mintenure" id="field_mintenure"
                    ng-model="vm.packages.mintenure"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.packages.totalpayout" for="field_totalpayout">Totalpayout</label>
            <input type="text" class="form-control" name="totalpayout" id="field_totalpayout"
                    ng-model="vm.packages.totalpayout"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.packages.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.packages.createdBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.packages.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.packages.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.packages.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                    ng-model="vm.packages.updatedBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.packages.updatedDate" for="field_updatedDate">Updated Date</label>
                <div class="input-group">
                    <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.packages.updatedDate" is-open="vm.datePickerOpenStatus.updatedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
