
<div>
    <h2><span data-translate="aspireLoanMgtApp.packages.detail.title">Packages</span> {{vm.packages.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.packages.validityfromdate">Validityfromdate</span></dt>
        <dd>
            <span>{{vm.packages.validityfromdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.packages.validitytodate">Validitytodate</span></dt>
        <dd>
            <span>{{vm.packages.validitytodate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.packages.typeOfProduct">Type Of Product</span></dt>
        <dd>
            <span>{{vm.packages.typeOfProduct}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.packages.interestrate">Interestrate</span></dt>
        <dd>
            <span>{{vm.packages.interestrate}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.packages.maxloanamount">Maxloanamount</span></dt>
        <dd>
            <span>{{vm.packages.maxloanamount}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.packages.minloanamount">Minloanamount</span></dt>
        <dd>
            <span>{{vm.packages.minloanamount}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.packages.maxtenure">Maxtenure</span></dt>
        <dd>
            <span>{{vm.packages.maxtenure}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.packages.mintenure">Mintenure</span></dt>
        <dd>
            <span>{{vm.packages.mintenure}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.packages.totalpayout">Totalpayout</span></dt>
        <dd>
            <span>{{vm.packages.totalpayout}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.packages.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.packages.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.packages.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.packages.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.packages.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.packages.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.packages.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.packages.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="packages-my-suffix-detail.edit({id:vm.packages.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
