
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myApplicationLabel" data-translate="aspireLoanMgtApp.application.home.createOrEditLabel">Create or edit a Application</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.application.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.application.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.application.applyDate" for="field_applyDate">Apply Date</label>
                <div class="input-group">
                    <input id="field_applyDate" type="text" class="form-control" name="applyDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.application.applyDate" is-open="vm.datePickerOpenStatus.applyDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('applyDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.application.customerName" for="field_customerName">Customer Name</label>
            <input type="text" class="form-control" name="customerName" id="field_customerName"
                    ng-model="vm.application.customerName"
                    />
        </div>
        <!--<div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.application.userCode" for="field_userCode">User Code</label>
            <input type="number" class="form-control" name="userCode" id="field_userCode"
                    ng-model="vm.application.userCode"
                    />
        </div>-->
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.application.packageCode" for="field_packageCode">Package</label>
            <!--<input type="number" class="form-control" name="packageCode" id="field_packageCode"
                    ng-model="vm.application.packageCode"
                    />-->
                      <select class="form-control" name="packageCode" id="field_packageCode"
                    ng-model="vm.application.packageCode">
                    		<option value=""> --- Select --- </option>
                    		<option value="pbb">PBB</option>
                    			
                    	</select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.application.loanAmount" for="field_loanAmount">Loan Amount</label>
            <input type="number" class="form-control" name="loanAmount" id="field_loanAmount"
                    ng-model="vm.application.loanAmount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.application.employerName" for="field_employerName">Assigned To</label>
            <input type="text" class="form-control" name="employerName" id="field_employerName"
                    ng-model="vm.application.employerName"
                    />
        </div>
      <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.application.status" for="field_status">Status</label>
            <!--<input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.application.status"
                    />-->
  <select  class="form-control" name="status" id="field_status" ng-model="vm.application.status">
                    		<option value=""> --- Select --- </option>
                    		<option value="pending">Pending</option>
                    		<option value="approve">Approve</option>
                    		
                    	</select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.application.remark" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.application.remark"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.application.remarkDate" for="field_remarkDate">Remark Date</label>
                <div class="input-group">
                    <input id="field_remarkDate" type="text" class="form-control" name="remarkDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.application.remarkDate" is-open="vm.datePickerOpenStatus.remarkDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('remarkDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
       <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.application.createDate" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.application.createDate" is-open="vm.datePickerOpenStatus.createDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.application.updateDate" for="field_updateDate">Update Date</label>
                <div class="input-group">
                    <input id="field_updateDate" type="text" class="form-control" name="updateDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.application.updateDate" is-open="vm.datePickerOpenStatus.updateDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updateDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.application.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.application.createdBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.application.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                    ng-model="vm.application.updatedBy"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
