<div>
    <h2 data-translate="aspireLoanMgtApp.application.home.title">Applications</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="application-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.application.home.createLabel">
                        Create new Application
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.application.applyDate">Apply Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.application.customerName">Customer Name</span></th>
                    <th><span data-translate="aspireLoanMgtApp.application.userCode">User Code</span></th>
                    <th><span data-translate="aspireLoanMgtApp.application.packageCode">Package Code</span></th>
                    <th><span data-translate="aspireLoanMgtApp.application.loanAmount">Loan Amount</span></th>
                    <th><span data-translate="aspireLoanMgtApp.application.employerName">Employer Name</span></th>
                    <th><span data-translate="aspireLoanMgtApp.application.status">Status</span></th>
                    <th><span data-translate="aspireLoanMgtApp.application.remark">Remark</span></th>
                    <th><span data-translate="aspireLoanMgtApp.application.remarkDate">Remark Date</span></th>
                 
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="application in vm.applications track by application.id">
                    <td><a ui-sref="application-my-suffix-detail({id:application.id})">{{application.id}}</a></td>
                        <td>{{application.applyDate | date:'mediumDate'}}</td>
                    <td>{{application.customerName}}</td>
                    <td>{{application.userCode}}</td>
                    <td>{{application.packageCode}}</td>
                    <td>{{application.loanAmount}}</td>
                    <td>{{application.employerName}}</td>
                    <td>{{application.status}}</td>
                    <td>{{application.remark}}</td>
                        <td>{{application.remarkDate | date:'mediumDate'}}</td>
                    
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="application-my-suffix-detail({id:application.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="application-my-suffix.edit({id:application.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="application-my-suffix.delete({id:application.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
