
<div>
    <h2><span data-translate="aspireLoanMgtApp.application.detail.title">Application</span> {{vm.application.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.application.applyDate">Apply Date</span></dt>
        <dd>
            <span>{{vm.application.applyDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.application.customerName">Customer Name</span></dt>
        <dd>
            <span>{{vm.application.customerName}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.application.userCode">User </span></dt>
        <dd>
            <span>{{vm.application.userCode}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.application.packageCode">Package</span></dt>
        <dd>
            <span>{{vm.application.packageCode}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.application.loanAmount">Loan Amount</span></dt>
        <dd>
            <span>{{vm.application.loanAmount}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.application.employerName">Employer Name</span></dt>
        <dd>
            <span>{{vm.application.employerName}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.application.status">Status</span></dt>
        <dd>
            <span>{{vm.application.status}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.application.remark">Remark</span></dt>
        <dd>
            <span>{{vm.application.remark}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.application.remarkDate">Remark Date</span></dt>
        <dd>
            <span>{{vm.application.remarkDate | date:'mediumDate'}}</span>
        </dd>
        <!--<dt><span data-translate="aspireLoanMgtApp.application.createDate">Create Date</span></dt>
        <dd>
            <span>{{vm.application.createDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.application.updateDate">Update Date</span></dt>
        <dd>
            <span>{{vm.application.updateDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.application.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.application.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.application.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.application.updatedBy}}</span>
        </dd>-->
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="application-my-suffix-detail.edit({id:vm.application.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
