
<div>
    <h2><span data-translate="aspireLoanMgtApp.invitation.detail.title">Invitation</span> {{vm.invitation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.invitation.emailID">Email ID</span></dt>
        <dd>
            <span>{{vm.invitation.emailID}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.invitation.mobileNo">Mobile No</span></dt>
        <dd>
            <span>{{vm.invitation.mobileNo}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.invitation.date">Date</span></dt>
        <dd>
            <span>{{vm.invitation.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.invitation.status">Status</span></dt>
        <dd>
            <span>{{vm.invitation.status}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.invitation.userCode">User Code</span></dt>
        <dd>
            <span>{{vm.invitation.userCode}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.invitation.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.invitation.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.invitation.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.invitation.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.invitation.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.invitation.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.invitation.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.invitation.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="invitation-my-suffix-detail.edit({id:vm.invitation.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
