<div>
    <h2 data-translate="aspireLoanMgtApp.invitation.home.title">Invitations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="invitation-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.invitation.home.createLabel">
                        Create new Invitation
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.invitation.emailID">Email ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.invitation.mobileNo">Mobile No</span></th>
                    <th><span data-translate="aspireLoanMgtApp.invitation.date">Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.invitation.status">Status</span></th>
                    <th><span data-translate="aspireLoanMgtApp.invitation.userCode">User Code</span></th>
                    <th><span data-translate="aspireLoanMgtApp.invitation.createdBy">Created By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.invitation.createdDate">Created Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.invitation.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.invitation.updatedDate">Updated Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invitation in vm.invitations track by invitation.id">
                    <td><a ui-sref="invitation-my-suffix-detail({id:invitation.id})">{{invitation.id}}</a></td>
                    <td>{{invitation.emailID}}</td>
                    <td>{{invitation.mobileNo}}</td>
                        <td>{{invitation.date | date:'mediumDate'}}</td>
                    <td>{{invitation.status}}</td>
                    <td>{{invitation.userCode}}</td>
                    <td>{{invitation.createdBy}}</td>
                        <td>{{invitation.createdDate | date:'mediumDate'}}</td>
                    <td>{{invitation.updatedBy}}</td>
                        <td>{{invitation.updatedDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="invitation-my-suffix-detail({id:invitation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="invitation-my-suffix.edit({id:invitation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="invitation-my-suffix.delete({id:invitation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
