
<div>
    <h2><span data-translate="aspireLoanMgtApp.referralStatus.detail.title">Referral Status</span> {{vm.referralStatus.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.referralStatus.applicationid">Applicationid</span></dt>
        <dd>
            <span>{{vm.referralStatus.applicationid}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referralStatus.referralamount">Referralamount</span></dt>
        <dd>
            <span>{{vm.referralStatus.referralamount}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referralStatus.validityfromdate">Validityfromdate</span></dt>
        <dd>
            <span>{{vm.referralStatus.validityfromdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referralStatus.validitytodate">Validitytodate</span></dt>
        <dd>
            <span>{{vm.referralStatus.validitytodate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referralStatus.status">Status</span></dt>
        <dd>
            <span>{{vm.referralStatus.status}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referralStatus.lastremark">Lastremark</span></dt>
        <dd>
            <span>{{vm.referralStatus.lastremark}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referralStatus.applydate">Applydate</span></dt>
        <dd>
            <span>{{vm.referralStatus.applydate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referralStatus.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.referralStatus.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referralStatus.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.referralStatus.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referralStatus.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.referralStatus.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referralStatus.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.referralStatus.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="referral-status-my-suffix-detail.edit({id:vm.referralStatus.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
