<div>
    <h2 data-translate="aspireLoanMgtApp.referralStatus.home.title">Referral Statuses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="referral-status-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.referralStatus.home.createLabel">
                        Create new Referral Status
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referralStatus.applicationid">Applicationid</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referralStatus.referralamount">Referralamount</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referralStatus.validityfromdate">Validityfromdate</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referralStatus.validitytodate">Validitytodate</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referralStatus.status">Status</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referralStatus.lastremark">Lastremark</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referralStatus.applydate">Applydate</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referralStatus.createdBy">Created By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referralStatus.createdDate">Created Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referralStatus.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referralStatus.updatedDate">Updated Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="referralStatus in vm.referralStatuses track by referralStatus.id">
                    <td><a ui-sref="referral-status-my-suffix-detail({id:referralStatus.id})">{{referralStatus.id}}</a></td>
                    <td>{{referralStatus.applicationid}}</td>
                    <td>{{referralStatus.referralamount}}</td>
                        <td>{{referralStatus.validityfromdate | date:'mediumDate'}}</td>
                        <td>{{referralStatus.validitytodate | date:'mediumDate'}}</td>
                    <td>{{referralStatus.status}}</td>
                    <td>{{referralStatus.lastremark}}</td>
                        <td>{{referralStatus.applydate | date:'mediumDate'}}</td>
                    <td>{{referralStatus.createdBy}}</td>
                        <td>{{referralStatus.createdDate | date:'mediumDate'}}</td>
                    <td>{{referralStatus.updatedBy}}</td>
                        <td>{{referralStatus.updatedDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="referral-status-my-suffix-detail({id:referralStatus.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="referral-status-my-suffix.edit({id:referralStatus.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="referral-status-my-suffix.delete({id:referralStatus.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
