
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAuditTrailLabel" data-translate="aspireLoanMgtApp.auditTrail.home.createOrEditLabel">Create or edit a Audit Trail</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.auditTrail.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.auditTrail.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.auditTrail.userCode" for="field_userCode">User Code</label>
            <input type="text" class="form-control" name="userCode" id="field_userCode"
                    ng-model="vm.auditTrail.userCode"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.auditTrail.logDate" for="field_logDate">Log Date</label>
                <div class="input-group">
                    <input id="field_logDate" type="text" class="form-control" name="logDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.auditTrail.logDate" is-open="vm.datePickerOpenStatus.logDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('logDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.auditTrail.logTime" for="field_logTime">Log Time</label>
            <input type="text" class="form-control" name="logTime" id="field_logTime"
                    ng-model="vm.auditTrail.logTime"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.auditTrail.moduleName" for="field_moduleName">Module Name</label>
            <input type="text" class="form-control" name="moduleName" id="field_moduleName"
                    ng-model="vm.auditTrail.moduleName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.auditTrail.action" for="field_action">Action</label>
            <input type="text" class="form-control" name="action" id="field_action"
                    ng-model="vm.auditTrail.action"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.auditTrail.actionstatus" for="field_actionstatus">Actionstatus</label>
            <input type="text" class="form-control" name="actionstatus" id="field_actionstatus"
                    ng-model="vm.auditTrail.actionstatus"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.auditTrail.itemcode" for="field_itemcode">Itemcode</label>
            <input type="text" class="form-control" name="itemcode" id="field_itemcode"
                    ng-model="vm.auditTrail.itemcode"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
