<div>
    <h2 data-translate="aspireLoanMgtApp.auditTrail.home.title">Audit Trails</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="audit-trail-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.auditTrail.home.createLabel">
                        Create new Audit Trail
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.auditTrail.userCode">User Code</span></th>
                    <th><span data-translate="aspireLoanMgtApp.auditTrail.logDate">Log Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.auditTrail.logTime">Log Time</span></th>
                    <th><span data-translate="aspireLoanMgtApp.auditTrail.moduleName">Module Name</span></th>
                    <th><span data-translate="aspireLoanMgtApp.auditTrail.action">Action</span></th>
                    <th><span data-translate="aspireLoanMgtApp.auditTrail.actionstatus">Actionstatus</span></th>
                    <th><span data-translate="aspireLoanMgtApp.auditTrail.itemcode">Itemcode</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="auditTrail in vm.auditTrails track by auditTrail.id">
                    <td><a ui-sref="audit-trail-my-suffix-detail({id:auditTrail.id})">{{auditTrail.id}}</a></td>
                    <td>{{auditTrail.userCode}}</td>
                        <td>{{auditTrail.logDate | date:'mediumDate'}}</td>
                    <td>{{auditTrail.logTime}}</td>
                    <td>{{auditTrail.moduleName}}</td>
                    <td>{{auditTrail.action}}</td>
                    <td>{{auditTrail.actionstatus}}</td>
                    <td>{{auditTrail.itemcode}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="audit-trail-my-suffix-detail({id:auditTrail.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="audit-trail-my-suffix.edit({id:auditTrail.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="audit-trail-my-suffix.delete({id:auditTrail.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
