
<div>
    <h2><span data-translate="aspireLoanMgtApp.auditTrail.detail.title">Audit Trail</span> {{vm.auditTrail.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.auditTrail.userCode">User Code</span></dt>
        <dd>
            <span>{{vm.auditTrail.userCode}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.auditTrail.logDate">Log Date</span></dt>
        <dd>
            <span>{{vm.auditTrail.logDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.auditTrail.logTime">Log Time</span></dt>
        <dd>
            <span>{{vm.auditTrail.logTime}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.auditTrail.moduleName">Module Name</span></dt>
        <dd>
            <span>{{vm.auditTrail.moduleName}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.auditTrail.action">Action</span></dt>
        <dd>
            <span>{{vm.auditTrail.action}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.auditTrail.actionstatus">Actionstatus</span></dt>
        <dd>
            <span>{{vm.auditTrail.actionstatus}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.auditTrail.itemcode">Itemcode</span></dt>
        <dd>
            <span>{{vm.auditTrail.itemcode}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="audit-trail-my-suffix-detail.edit({id:vm.auditTrail.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
