
<div>
    <h2><span data-translate="aspireLoanMgtApp.company.detail.title">Company</span> {{vm.company.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.company.companyName">Company Name</span></dt>
        <dd>
            <span>{{vm.company.companyName}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.company.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.company.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.company.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.company.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.company.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.company.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.company.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.company.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="company-my-suffix-detail.edit({id:vm.company.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
