<div>
    <h2 data-translate="aspireLoanMgtApp.company.home.title">Companies</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="company-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.company.home.createLabel">
                        Create new Company
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.company.companyName">Company Name</span></th>
                    <th><span data-translate="aspireLoanMgtApp.company.createdBy">Created By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.company.createdDate">Created Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.company.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.company.updatedDate">Updated Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="company in vm.companies track by company.id">
                    <td><a ui-sref="company-my-suffix-detail({id:company.id})">{{company.id}}</a></td>
                    <td>{{company.companyName}}</td>
                    <td>{{company.createdBy}}</td>
                        <td>{{company.createdDate | date:'mediumDate'}}</td>
                    <td>{{company.updatedBy}}</td>
                        <td>{{company.updatedDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="company-my-suffix-detail({id:company.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="company-my-suffix.edit({id:company.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="company-my-suffix.delete({id:company.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
