
<div>
    <h2><span data-translate="aspireLoanMgtApp.referral.detail.title">Referral</span> {{vm.referral.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.referral.numberofsuccessfullreferral">Numberofsuccessfullreferral</span></dt>
        <dd>
            <span>{{vm.referral.numberofsuccessfullreferral}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referral.referralbonus">Referralbonus</span></dt>
        <dd>
            <span>{{vm.referral.referralbonus}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referral.validityfromdate">Validityfromdate</span></dt>
        <dd>
            <span>{{vm.referral.validityfromdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referral.validitytodate">Validitytodate</span></dt>
        <dd>
            <span>{{vm.referral.validitytodate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referral.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.referral.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referral.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.referral.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referral.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.referral.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.referral.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.referral.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="referral-my-suffix-detail.edit({id:vm.referral.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
