<div>
    <h2 data-translate="aspireLoanMgtApp.referral.home.title">Referrals</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="referral-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.referral.home.createLabel">
                        Create new Referral
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referral.numberofsuccessfullreferral">Numberofsuccessfullreferral</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referral.referralbonus">Referralbonus</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referral.validityfromdate">Validityfromdate</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referral.validitytodate">Validitytodate</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referral.createdBy">Created By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referral.createdDate">Created Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referral.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.referral.updatedDate">Updated Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="referral in vm.referrals track by referral.id">
                    <td><a ui-sref="referral-my-suffix-detail({id:referral.id})">{{referral.id}}</a></td>
                    <td>{{referral.numberofsuccessfullreferral}}</td>
                    <td>{{referral.referralbonus}}</td>
                        <td>{{referral.validityfromdate | date:'mediumDate'}}</td>
                        <td>{{referral.validitytodate | date:'mediumDate'}}</td>
                    <td>{{referral.createdBy}}</td>
                        <td>{{referral.createdDate | date:'mediumDate'}}</td>
                    <td>{{referral.updatedBy}}</td>
                        <td>{{referral.updatedDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="referral-my-suffix-detail({id:referral.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="referral-my-suffix.edit({id:referral.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="referral-my-suffix.delete({id:referral.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
