
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReferralLabel" data-translate="aspireLoanMgtApp.referral.home.createOrEditLabel">Create or edit a Referral</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.referral.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.referral.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.referral.numberofsuccessfullreferral" for="field_numberofsuccessfullreferral">Numberofsuccessfullreferral</label>
            <input type="number" class="form-control" name="numberofsuccessfullreferral" id="field_numberofsuccessfullreferral"
                    ng-model="vm.referral.numberofsuccessfullreferral"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.referral.referralbonus" for="field_referralbonus">Referralbonus</label>
            <input type="text" class="form-control" name="referralbonus" id="field_referralbonus"
                    ng-model="vm.referral.referralbonus"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.referral.validityfromdate" for="field_validityfromdate">Validityfromdate</label>
                <div class="input-group">
                    <input id="field_validityfromdate" type="text" class="form-control" name="validityfromdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.referral.validityfromdate" is-open="vm.datePickerOpenStatus.validityfromdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('validityfromdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.referral.validitytodate" for="field_validitytodate">Validitytodate</label>
                <div class="input-group">
                    <input id="field_validitytodate" type="text" class="form-control" name="validitytodate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.referral.validitytodate" is-open="vm.datePickerOpenStatus.validitytodate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('validitytodate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.referral.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.referral.createdBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.referral.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.referral.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.referral.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                    ng-model="vm.referral.updatedBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.referral.updatedDate" for="field_updatedDate">Updated Date</label>
                <div class="input-group">
                    <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.referral.updatedDate" is-open="vm.datePickerOpenStatus.updatedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
