
<div>
    <h2><span data-translate="aspireLoanMgtApp.passwords.detail.title">Passwords</span> {{vm.passwords.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.passwords.userId">User Id</span></dt>
        <dd>
            <span>{{vm.passwords.userId}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.passwords.password">Password</span></dt>
        <dd>
            <span>{{vm.passwords.password}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.passwords.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.passwords.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.passwords.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.passwords.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.passwords.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.passwords.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.passwords.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.passwords.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="passwords-my-suffix-detail.edit({id:vm.passwords.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
