<div>
    <h2 data-translate="aspireLoanMgtApp.passwords.home.title">Passwords</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="passwords-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.passwords.home.createLabel">
                        Create new Passwords
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.passwords.userId">User Id</span></th>
                    <th><span data-translate="aspireLoanMgtApp.passwords.password">Password</span></th>
                    <th><span data-translate="aspireLoanMgtApp.passwords.createdBy">Created By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.passwords.createdDate">Created Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.passwords.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.passwords.updatedDate">Updated Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="passwords in vm.passwords track by passwords.id">
                    <td><a ui-sref="passwords-my-suffix-detail({id:passwords.id})">{{passwords.id}}</a></td>
                    <td>{{passwords.userId}}</td>
                    <td>{{passwords.password}}</td>
                    <td>{{passwords.createdBy}}</td>
                        <td>{{passwords.createdDate | date:'mediumDate'}}</td>
                    <td>{{passwords.updatedBy}}</td>
                        <td>{{passwords.updatedDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="passwords-my-suffix-detail({id:passwords.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="passwords-my-suffix.edit({id:passwords.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="passwords-my-suffix.delete({id:passwords.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
