
<div>
    <h2><span data-translate="aspireLoanMgtApp.userEntity.detail.title">User Entity</span> {{vm.userEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.userEntity.mobileNo">Mobile No</span></dt>
        <dd>
            <span>{{vm.userEntity.mobileNo}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userEntity.emailid">Emailid</span></dt>
        <dd>
            <span>{{vm.userEntity.emailid}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userEntity.tokenid">Tokenid</span></dt>
        <dd>
            <span>{{vm.userEntity.tokenid}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userEntity.status">Status</span></dt>
        <dd>
            <span>{{vm.userEntity.status}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userEntity.usertype">Usertype</span></dt>
        <dd>
            <span>{{vm.userEntity.usertype}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userEntity.company">Company</span></dt>
        <dd>
            <span>{{vm.userEntity.company}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userEntity.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.userEntity.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userEntity.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.userEntity.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userEntity.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.userEntity.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userEntity.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.userEntity.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-entity-my-suffix-detail.edit({id:vm.userEntity.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
