<div>
    <h2 data-translate="aspireLoanMgtApp.userEntity.home.title">User Entities</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-entity-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.userEntity.home.createLabel">
                        Create new User Entity
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userEntity.mobileNo">Mobile No</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userEntity.emailid">Emailid</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userEntity.tokenid">Tokenid</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userEntity.status">Status</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userEntity.usertype">Usertype</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userEntity.company">Company</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userEntity.createdBy">Created By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userEntity.createdDate">Created Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userEntity.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userEntity.updatedDate">Updated Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userEntity in vm.userEntities track by userEntity.id">
                    <td><a ui-sref="user-entity-my-suffix-detail({id:userEntity.id})">{{userEntity.id}}</a></td>
                    <td>{{userEntity.mobileNo}}</td>
                    <td>{{userEntity.emailid}}</td>
                    <td>{{userEntity.tokenid}}</td>
                    <td>{{userEntity.status}}</td>
                    <td>{{userEntity.usertype}}</td>
                    <td>{{userEntity.company}}</td>
                    <td>{{userEntity.createdBy}}</td>
                        <td>{{userEntity.createdDate | date:'mediumDate'}}</td>
                    <td>{{userEntity.updatedBy}}</td>
                        <td>{{userEntity.updatedDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-entity-my-suffix-detail({id:userEntity.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-entity-my-suffix.edit({id:userEntity.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-entity-my-suffix.delete({id:userEntity.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
