
<div>
    <h2><span data-translate="aspireLoanMgtApp.rebate.detail.title">Rebate</span> {{vm.rebate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.rebate.loanFrom">Loan From</span></dt>
        <dd>
            <span>{{vm.rebate.loanFrom}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebate.loanTo">Loan To</span></dt>
        <dd>
            <span>{{vm.rebate.loanTo}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebate.loanPercentage">Loan Percentage</span></dt>
        <dd>
            <span>{{vm.rebate.loanPercentage}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebate.maxamount">Maxamount</span></dt>
        <dd>
            <span>{{vm.rebate.maxamount}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebate.validityfromdate">Validityfromdate</span></dt>
        <dd>
            <span>{{vm.rebate.validityfromdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebate.validitytodate">Validitytodate</span></dt>
        <dd>
            <span>{{vm.rebate.validitytodate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebate.product">Product</span></dt>
        <dd>
            <span>{{vm.rebate.product}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebate.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.rebate.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebate.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.rebate.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebate.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.rebate.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebate.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.rebate.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="rebate-my-suffix-detail.edit({id:vm.rebate.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
