<div>
    <h2 data-translate="aspireLoanMgtApp.rebate.home.title">Rebates</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="rebate-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.rebate.home.createLabel">
                        Create new Rebate
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebate.loanFrom">Loan From</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebate.loanTo">Loan To</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebate.loanPercentage">Loan Percentage</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebate.maxamount">Maxamount</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebate.validityfromdate">Validityfromdate</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebate.validitytodate">Validitytodate</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebate.product">Product</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebate.createdBy">Created By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebate.createdDate">Created Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebate.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebate.updatedDate">Updated Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rebate in vm.rebates track by rebate.id">
                    <td><a ui-sref="rebate-my-suffix-detail({id:rebate.id})">{{rebate.id}}</a></td>
                    <td>{{rebate.loanFrom}}</td>
                    <td>{{rebate.loanTo}}</td>
                    <td>{{rebate.loanPercentage}}</td>
                    <td>{{rebate.maxamount}}</td>
                        <td>{{rebate.validityfromdate | date:'mediumDate'}}</td>
                        <td>{{rebate.validitytodate | date:'mediumDate'}}</td>
                    <td>{{rebate.product}}</td>
                    <td>{{rebate.createdBy}}</td>
                        <td>{{rebate.createdDate | date:'mediumDate'}}</td>
                    <td>{{rebate.updatedBy}}</td>
                        <td>{{rebate.updatedDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="rebate-my-suffix-detail({id:rebate.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="rebate-my-suffix.edit({id:rebate.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="rebate-my-suffix.delete({id:rebate.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
