
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRebateLabel" data-translate="aspireLoanMgtApp.rebate.home.createOrEditLabel">Create or edit a Rebate</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.rebate.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.rebate.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebate.loanFrom" for="field_loanFrom">Loan From</label>
            <input type="number" class="form-control" name="loanFrom" id="field_loanFrom"
                    ng-model="vm.rebate.loanFrom"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebate.loanTo" for="field_loanTo">Loan To</label>
            <input type="text" class="form-control" name="loanTo" id="field_loanTo"
                    ng-model="vm.rebate.loanTo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebate.loanPercentage" for="field_loanPercentage">Loan Percentage</label>
            <input type="number" class="form-control" name="loanPercentage" id="field_loanPercentage"
                    ng-model="vm.rebate.loanPercentage"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebate.maxamount" for="field_maxamount">Maxamount</label>
            <input type="number" class="form-control" name="maxamount" id="field_maxamount"
                    ng-model="vm.rebate.maxamount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebate.validityfromdate" for="field_validityfromdate">Validityfromdate</label>
                <div class="input-group">
                    <input id="field_validityfromdate" type="text" class="form-control" name="validityfromdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.rebate.validityfromdate" is-open="vm.datePickerOpenStatus.validityfromdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('validityfromdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebate.validitytodate" for="field_validitytodate">Validitytodate</label>
                <div class="input-group">
                    <input id="field_validitytodate" type="text" class="form-control" name="validitytodate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.rebate.validitytodate" is-open="vm.datePickerOpenStatus.validitytodate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('validitytodate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebate.product" for="field_product">Product</label>
            <input type="text" class="form-control" name="product" id="field_product"
                    ng-model="vm.rebate.product"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebate.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.rebate.createdBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebate.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.rebate.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebate.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                    ng-model="vm.rebate.updatedBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebate.updatedDate" for="field_updatedDate">Updated Date</label>
                <div class="input-group">
                    <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.rebate.updatedDate" is-open="vm.datePickerOpenStatus.updatedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
