
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserProfileLabel" data-translate="aspireLoanMgtApp.userProfile.home.createOrEditLabel">Create or edit a User Profile</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userProfile.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userProfile.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.userProfile.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.nric" for="field_nric">Nric</label>
            <input type="number" class="form-control" name="nric" id="field_nric"
                    ng-model="vm.userProfile.nric"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.jobtitle" for="field_jobtitle">Jobtitle</label>
            <input type="text" class="form-control" name="jobtitle" id="field_jobtitle"
                    ng-model="vm.userProfile.jobtitle"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.employername" for="field_employername">Employername</label>
            <input type="text" class="form-control" name="employername" id="field_employername"
                    ng-model="vm.userProfile.employername"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.retirementage" for="field_retirementage">Retirementage</label>
            <input type="number" class="form-control" name="retirementage" id="field_retirementage"
                    ng-model="vm.userProfile.retirementage"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="vm.userProfile.age"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.state" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                    ng-model="vm.userProfile.state"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                    ng-model="vm.userProfile.city"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.postcode" for="field_postcode">Postcode</label>
            <input type="number" class="form-control" name="postcode" id="field_postcode"
                    ng-model="vm.userProfile.postcode"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                    ng-model="vm.userProfile.street"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.bankname" for="field_bankname">Bankname</label>
            <input type="text" class="form-control" name="bankname" id="field_bankname"
                    ng-model="vm.userProfile.bankname"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.bankaccountnumber" for="field_bankaccountnumber">Bankaccountnumber</label>
            <input type="number" class="form-control" name="bankaccountnumber" id="field_bankaccountnumber"
                    ng-model="vm.userProfile.bankaccountnumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.userId" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.userProfile.userId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.userProfile.createdBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.userProfile.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                    ng-model="vm.userProfile.updatedBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.userProfile.updatedDate" for="field_updatedDate">Updated Date</label>
                <div class="input-group">
                    <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.userProfile.updatedDate" is-open="vm.datePickerOpenStatus.updatedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
