
<div>
    <h2><span data-translate="aspireLoanMgtApp.userProfile.detail.title">User Profile</span> {{vm.userProfile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.userProfile.name">Name</span></dt>
        <dd>
            <span>{{vm.userProfile.name}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.nric">Nric</span></dt>
        <dd>
            <span>{{vm.userProfile.nric}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.jobtitle">Jobtitle</span></dt>
        <dd>
            <span>{{vm.userProfile.jobtitle}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.employername">Employername</span></dt>
        <dd>
            <span>{{vm.userProfile.employername}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.retirementage">Retirementage</span></dt>
        <dd>
            <span>{{vm.userProfile.retirementage}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.age">Age</span></dt>
        <dd>
            <span>{{vm.userProfile.age}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.state">State</span></dt>
        <dd>
            <span>{{vm.userProfile.state}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.city">City</span></dt>
        <dd>
            <span>{{vm.userProfile.city}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.postcode">Postcode</span></dt>
        <dd>
            <span>{{vm.userProfile.postcode}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.street">Street</span></dt>
        <dd>
            <span>{{vm.userProfile.street}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.bankname">Bankname</span></dt>
        <dd>
            <span>{{vm.userProfile.bankname}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.bankaccountnumber">Bankaccountnumber</span></dt>
        <dd>
            <span>{{vm.userProfile.bankaccountnumber}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.userId">User Id</span></dt>
        <dd>
            <span>{{vm.userProfile.userId}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.userProfile.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.userProfile.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.userProfile.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.userProfile.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.userProfile.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-profile-my-suffix-detail.edit({id:vm.userProfile.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
