<div>
    <h2 data-translate="aspireLoanMgtApp.userProfile.home.title">User Profiles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-profile-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.userProfile.home.createLabel">
                        Create new User Profile
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.name">Name</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.nric">Nric</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.jobtitle">Jobtitle</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.employername">Employername</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.retirementage">Retirementage</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.age">Age</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.state">State</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.city">City</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.postcode">Postcode</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.street">Street</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.bankname">Bankname</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.bankaccountnumber">Bankaccountnumber</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.userId">User Id</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.createdBy">Created By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.createdDate">Created Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.userProfile.updatedDate">Updated Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userProfile in vm.userProfiles track by userProfile.id">
                    <td><a ui-sref="user-profile-my-suffix-detail({id:userProfile.id})">{{userProfile.id}}</a></td>
                    <td>{{userProfile.name}}</td>
                    <td>{{userProfile.nric}}</td>
                    <td>{{userProfile.jobtitle}}</td>
                    <td>{{userProfile.employername}}</td>
                    <td>{{userProfile.retirementage}}</td>
                    <td>{{userProfile.age}}</td>
                    <td>{{userProfile.state}}</td>
                    <td>{{userProfile.city}}</td>
                    <td>{{userProfile.postcode}}</td>
                    <td>{{userProfile.street}}</td>
                    <td>{{userProfile.bankname}}</td>
                    <td>{{userProfile.bankaccountnumber}}</td>
                    <td>{{userProfile.userId}}</td>
                    <td>{{userProfile.createdBy}}</td>
                        <td>{{userProfile.createdDate | date:'mediumDate'}}</td>
                    <td>{{userProfile.updatedBy}}</td>
                        <td>{{userProfile.updatedDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-profile-my-suffix-detail({id:userProfile.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-profile-my-suffix.edit({id:userProfile.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-profile-my-suffix.delete({id:userProfile.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
