
<div>
    <h2><span data-translate="aspireLoanMgtApp.termsCondition.detail.title">Terms Condition</span> {{vm.termsCondition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.termsCondition.submissiondate">Submissiondate</span></dt>
        <dd>
            <span>{{vm.termsCondition.submissiondate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.termsCondition.termsAndConditions">Terms And Conditions</span></dt>
        <dd>
            <span>{{vm.termsCondition.termsAndConditions}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.termsCondition.versionnumber">Versionnumber</span></dt>
        <dd>
            <span>{{vm.termsCondition.versionnumber}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.termsCondition.fromDate">From Date</span></dt>
        <dd>
            <span>{{vm.termsCondition.fromDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.termsCondition.toDate">To Date</span></dt>
        <dd>
            <span>{{vm.termsCondition.toDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.termsCondition.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.termsCondition.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.termsCondition.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.termsCondition.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.termsCondition.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.termsCondition.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.termsCondition.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.termsCondition.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="terms-condition-my-suffix-detail.edit({id:vm.termsCondition.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
