<div>
    <h2 data-translate="aspireLoanMgtApp.termsCondition.home.title">Terms Conditions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="terms-condition-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.termsCondition.home.createLabel">
                        Create new Terms Condition
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.termsCondition.submissiondate">Submissiondate</span></th>
                    <th><span data-translate="aspireLoanMgtApp.termsCondition.termsAndConditions">Terms And Conditions</span></th>
                    <th><span data-translate="aspireLoanMgtApp.termsCondition.versionnumber">Versionnumber</span></th>
                    <th><span data-translate="aspireLoanMgtApp.termsCondition.fromDate">From Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.termsCondition.toDate">To Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.termsCondition.createdBy">Created By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.termsCondition.createdDate">Created Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.termsCondition.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.termsCondition.updatedDate">Updated Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="termsCondition in vm.termsConditions track by termsCondition.id">
                    <td><a ui-sref="terms-condition-my-suffix-detail({id:termsCondition.id})">{{termsCondition.id}}</a></td>
                        <td>{{termsCondition.submissiondate | date:'mediumDate'}}</td>
                    <td>{{termsCondition.termsAndConditions}}</td>
                    <td>{{termsCondition.versionnumber}}</td>
                        <td>{{termsCondition.fromDate | date:'mediumDate'}}</td>
                        <td>{{termsCondition.toDate | date:'mediumDate'}}</td>
                    <td>{{termsCondition.createdBy}}</td>
                        <td>{{termsCondition.createdDate | date:'mediumDate'}}</td>
                    <td>{{termsCondition.updatedBy}}</td>
                        <td>{{termsCondition.updatedDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="terms-condition-my-suffix-detail({id:termsCondition.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="terms-condition-my-suffix.edit({id:termsCondition.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="terms-condition-my-suffix.delete({id:termsCondition.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
