
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRebateStatusLabel" data-translate="aspireLoanMgtApp.rebateStatus.home.createOrEditLabel">Create or edit a Rebate Status</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.rebateStatus.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.rebateStatus.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebateStatus.applicationId" for="field_applicationId">Application Id</label>
            <input type="number" class="form-control" name="applicationId" id="field_applicationId"
                    ng-model="vm.rebateStatus.applicationId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebateStatus.rebateamount" for="field_rebateamount">Rebateamount</label>
            <input type="number" class="form-control" name="rebateamount" id="field_rebateamount"
                    ng-model="vm.rebateStatus.rebateamount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebateStatus.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.rebateStatus.status"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebateStatus.lastremark" for="field_lastremark">Lastremark</label>
            <input type="text" class="form-control" name="lastremark" id="field_lastremark"
                    ng-model="vm.rebateStatus.lastremark"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebateStatus.applydate" for="field_applydate">Applydate</label>
                <div class="input-group">
                    <input id="field_applydate" type="text" class="form-control" name="applydate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.rebateStatus.applydate" is-open="vm.datePickerOpenStatus.applydate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('applydate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebateStatus.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.rebateStatus.createdBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebateStatus.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.rebateStatus.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebateStatus.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                    ng-model="vm.rebateStatus.updatedBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aspireLoanMgtApp.rebateStatus.updatedDate" for="field_updatedDate">Updated Date</label>
                <div class="input-group">
                    <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.rebateStatus.updatedDate" is-open="vm.datePickerOpenStatus.updatedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
