<div>
    <h2 data-translate="aspireLoanMgtApp.rebateStatus.home.title">Rebate Statuses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="rebate-status-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.rebateStatus.home.createLabel">
                        Create new Rebate Status
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebateStatus.applicationId">Application Id</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebateStatus.rebateamount">Rebateamount</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebateStatus.status">Status</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebateStatus.lastremark">Lastremark</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebateStatus.applydate">Applydate</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebateStatus.createdBy">Created By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebateStatus.createdDate">Created Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebateStatus.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.rebateStatus.updatedDate">Updated Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rebateStatus in vm.rebateStatuses track by rebateStatus.id">
                    <td><a ui-sref="rebate-status-my-suffix-detail({id:rebateStatus.id})">{{rebateStatus.id}}</a></td>
                    <td>{{rebateStatus.applicationId}}</td>
                    <td>{{rebateStatus.rebateamount}}</td>
                    <td>{{rebateStatus.status}}</td>
                    <td>{{rebateStatus.lastremark}}</td>
                        <td>{{rebateStatus.applydate | date:'mediumDate'}}</td>
                    <td>{{rebateStatus.createdBy}}</td>
                        <td>{{rebateStatus.createdDate | date:'mediumDate'}}</td>
                    <td>{{rebateStatus.updatedBy}}</td>
                        <td>{{rebateStatus.updatedDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="rebate-status-my-suffix-detail({id:rebateStatus.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="rebate-status-my-suffix.edit({id:rebateStatus.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="rebate-status-my-suffix.delete({id:rebateStatus.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
