
<div>
    <h2><span data-translate="aspireLoanMgtApp.rebateStatus.detail.title">Rebate Status</span> {{vm.rebateStatus.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.rebateStatus.applicationId">Application Id</span></dt>
        <dd>
            <span>{{vm.rebateStatus.applicationId}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebateStatus.rebateamount">Rebateamount</span></dt>
        <dd>
            <span>{{vm.rebateStatus.rebateamount}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebateStatus.status">Status</span></dt>
        <dd>
            <span>{{vm.rebateStatus.status}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebateStatus.lastremark">Lastremark</span></dt>
        <dd>
            <span>{{vm.rebateStatus.lastremark}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebateStatus.applydate">Applydate</span></dt>
        <dd>
            <span>{{vm.rebateStatus.applydate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebateStatus.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.rebateStatus.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebateStatus.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.rebateStatus.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebateStatus.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.rebateStatus.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.rebateStatus.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.rebateStatus.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="rebate-status-my-suffix-detail.edit({id:vm.rebateStatus.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
