<div>
    <h2 data-translate="aspireLoanMgtApp.product.home.title">Products</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="product-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aspireLoanMgtApp.product.home.createLabel">
                        Create new Product
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="aspireLoanMgtApp.product.productName">Product Name</span></th>
                    <th><span data-translate="aspireLoanMgtApp.product.status">Status</span></th>
                    <th><span data-translate="aspireLoanMgtApp.product.createdBy">Created By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.product.createdDate">Created Date</span></th>
                    <th><span data-translate="aspireLoanMgtApp.product.updatedBy">Updated By</span></th>
                    <th><span data-translate="aspireLoanMgtApp.product.updatedDate">Updated Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.products track by product.id">
                    <td><a ui-sref="product-my-suffix-detail({id:product.id})">{{product.id}}</a></td>
                    <td>{{product.productName}}</td>
                    <td>{{product.status}}</td>
                    <td>{{product.createdBy}}</td>
                        <td>{{product.createdDate | date:'mediumDate'}}</td>
                    <td>{{product.updatedBy}}</td>
                        <td>{{product.updatedDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="product-my-suffix-detail({id:product.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="product-my-suffix.edit({id:product.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="product-my-suffix.delete({id:product.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
