
<div>
    <h2><span data-translate="aspireLoanMgtApp.product.detail.title">Product</span> {{vm.product.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aspireLoanMgtApp.product.productName">Product Name</span></dt>
        <dd>
            <span>{{vm.product.productName}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.product.status">Status</span></dt>
        <dd>
            <span>{{vm.product.status}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.product.createdBy">Created By</span></dt>
        <dd>
            <span>{{vm.product.createdBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.product.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.product.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.product.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{vm.product.updatedBy}}</span>
        </dd>
        <dt><span data-translate="aspireLoanMgtApp.product.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.product.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="product-my-suffix-detail.edit({id:vm.product.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
